body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: block; }

section,
.main_head {
  position: relative; }

section {
  padding: 50px 0; }
  section h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    margin-bottom: 10px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }

.anim_about_foto {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.desc_wrap {
  text-align: center; }
  .desc_wrap .description {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 50px;
    text-transform: uppercase;
    position: relative;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
    .desc_wrap .description::after {
      content: "";
      height: 1px;
      margin-top: 30px;
      position: absolute;
      width: 150px;
      left: 50%;
      margin-left: -75px; }

.s_hobbi {
  color: #FFF;
  height: 620px; }

.about {
  height: 100%; }
  .about h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-top: 10px; }
  .about h4 {
    text-align: center;
    color: black; }
  .about p {
    font-size: 14px; }
  .about img {
    margin: 0 auto; }
  .about li {
    margin-bottom: 10px;
    list-style-type: none; }
  .about em {
    text-decoration: underline;
    font-style: normal; }

.wrap_person {
  padding-left: 20px; }

ul.person {
  padding-left: 0; }

.social_wrap ul {
  hidden: hidden;
  padding-left: 20px; }
.social_wrap li {
  display: inline-block;
  float: left;
  margin-bottom: 10px; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 180; }

.main_head {
  min-height: 620px;
  height: 100vh; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  /*bottom: 0;*/
  height: 100%;
  /*left: 0;*/
  /*position: fixed;*/
  /*right: 0;*/
  /*top: 0;*/
  width: 100%;
  z-index: 9999;
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-pack: center; 
  -ms-flex-pack: center; 
          justify-content: center;
  }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  height: 200px;
  width: 200px;
  margin-top: -30px;
  margin-left: -30px;
  left: 45%;
  top: 45%;
  position: absolute; }

.logo {
  float: left; }

.menu_header {
  right: 5%;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 100;
  border: none;
  margin-top: 30px; }

.menu_header:focus {
  outline: none; }

.top_wrap {
  position: absolute;
  display: table;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .top_wrap .top_row {
    display: table-row; }
    .top_wrap .top_row .top_cell {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

.name {
  display: inline-block;
  color: #fff; }
  .name .h2 {
    font-size: 24px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .name p {
    color: #fff;
    font-weight: 140%;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    font-size: 16px; }

.foto img {
  position: relative;
  left: 50%;
  margin-left: -110px;
  display: inline-block; }

.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 150; }

.sw-topper {
  position: relative;
  top: 0;
  width: 30px;
  height: 4px;
  left: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 30px;
  height: 4px;
  top: 5px;
  left: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
  display: block; }

.sw-footer {
  position: relative;
  width: 30px;
  height: 4px;
  top: 10px;
  left: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: block; }

.sandwich.active .sw-topper {
  top: 6px;
  -webkit-transform: rotate(128deg);
      -ms-transform: rotate(128deg);
          transform: rotate(128deg); }

.sandwich.active .sw-bottom {
  top: 3px;
  -webkit-transform: rotate(-128deg);
      -ms-transform: rotate(-128deg);
          transform: rotate(-128deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_menu {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0; }
  .top_menu ul,
  .top_menu li {
    list-style: none; }
  .top_menu ul {
    text-align: center;
    margin-top: 120px;
    padding: 0; }
  .top_menu a {
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 0;
    width: 100%; }

.s_resume {
  height: 100%; }

.resume_container .left {
  text-align: right;
  text-align: right;
  padding-left: 20px; }
.resume_container .right {
  text-align: left;
  border-left: 1px solid #A0D;
  text-align: left;
  padding-right: 20px; }

i {
  font-size: 35px; }

.resume_year {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px; }

.company strong {
  padding: 0px 5px 5px 10px; }

.desc_resume {
  padding: 0px 5px 5px 10px; }

.section_content {
  padding-bottom: 30px; }

.s_folio ul,
.s_folio li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center; }
.s_folio li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer; }
.s_folio .active {
  border-bottom: 1px solid #fff; }
.s_folio ul {
  margin-bottom: 30px; }

.wrap_item {
  text-align: center; }

.item_descrip {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto; }
  .item_descrip img {
    width: 100%; }

.mfp-close {
  color: white; }

.portfolio_item {
  display: none;
  padding: 0;
  width: 100%;
  margin-bottom: 10px; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .protfolio_cont {
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    opacity: 0; }
  .portfolio_item:hover .protfolio_cont {
    opacity: 1; }
    .portfolio_item:hover .protfolio_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .portfolio_item:hover .protfolio_cont a {
      background-color: transparent;
      padding: 5px 10px;
      border: 1px solid; }

#imp {
  padding: 0; }

.connection {
  margin-bottom: 20px;
  font-size: 20px; }
  .connection h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: #000; }
  .connection p {
    margin-bottom: 0px;
    margin-top: 3px; }

.conect_icon {
  font-size: 30px; }

.main_form button {
  border: none;
  color: #fff;
  padding: 0 25px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 400;
  float: right;
  text-transform: uppercase;
  margin-top: 20px; }

.form-group {
  display: block;
  margin-bottom: 25px; }
  .form-group input {
    height: 40px; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px; }
